.image {
    filter: blur(2px);
    -webkit-filter: blur(3px);
    height: 728px;
    width: 1520px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    border: 3px solid #f1f1f1;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    font-weight: bold;
    top: 50%;
    left: 50%;
    text-align: center;
    background: linear-gradient(160deg, rgb(67, 64, 66), rgb(0, 0, 0));
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0);
}

a {
    color: white;
    text-decoration: underline;
}

.form {
    width: 300px;
    margin: 0 auto;
}

input {
    width: 200px;
    background: #5f5d5d;
    color: #000;
    text-decoration-color: #000;
    border: transparent;
    border-bottom: whitesmoke 1px solid;
    padding: 10px;
    color: #000;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}

 ::placeholder {
    color: rgb(248, 247, 245);
    opacity: 1;
    text-align: center;
}

input[type='submit'] {
    padding: 10px 25px 8px;
    color: #fff;
    background-color: #f04682;
    text-shadow: rgba(241, 10, 1) 0 1px 0;
    box-shadow: rgba(231, 104, 58, ) 0 2px 0 0 inset, #fff 0 1px 0 0;
    border: 1px solid #f04682;
    border-radius: 2px;
    margin-top: 10px;
    width: 80%;
    height: 19%;
    border: none;
    background-color: #000;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(160deg, rgb(226, 84, 37), rgb(220, 6, 6));
}

input[type='submit']:hover {
    background-color: #f04682;
}